.cart-title{
    width: 100%;
    text-align: center;
    margin-bottom: 75px;
}

.cart-cont {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.cart-line {
    padding: 0 30px;
    margin: 10px 0;
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.cart-img {
    width: 120px;
    height: 100px;
    object-fit: cover;
    border-radius: 2px;
}

.cart-black-line{
    height: 1px;
    background-color: rgba(106, 106, 106, 0.495);
    width: 80%;
    margin: 0 30px;
}

.cart-option-cont{
    width: 300px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.cart-option-icon {
    width: 35px;
    height: 35px;
}

.cart-totalprice{
    justify-content: flex-end;
    vertical-align: baseline;
}